.content {
	padding-top: 80px;

	> figure {
		width: 100%;
		height: 300px;
		background: #bbb;
		opacity: 0;
		transition-property: opacity;
		transition-duration: 1s;
	}
	> .inner {
		width: 1180px;
		min-height: 400px;
		margin: 100px auto 0px;
		padding-bottom: 180px;
		position: relative;
		opacity: 0;
		transform: translateY(100px);
		transition-property: transform, opacity;
		transition-duration: 1s;

		> h1 {
			font: bold 70px/1 'inter';
			color: #fff;
			margin-bottom: 70px;
			text-align: center;
			letter-spacing: 2px;
		}

		> p {
			font: 20px/1.1 'roboto';
			letter-spacing: 1.1px;
			color: #777;
			text-align: center;
			margin-bottom: 50px;
		}
	}
}
.content.on {
	> figure {
		opacity: 1;
	}
	> .inner {
		opacity: 1;
		transform: translateY(0px);
	}
}

@media screen and (max-width: $tablet) {
	.content {
		> figure {
			height: 200px;
		}
		> .inner {
			width: 100%;
			// margin: 80px auto 120px;
			padding: 0px 40px;
			h1 {
				font-size: 40px;
				padding-bottom: 100px;
			}
		}
	}
}
