#banner {
	width: 100%;
	padding: 150px 0;
	height: 300px;
	background: linear-gradient(180deg, rgb(23, 23, 23) 50%, rgb(16, 16, 16) 50%);
	.inner {
		width: 1180px;
		margin: 0 auto;
		background: rgb(29, 29, 29);
		position: relative;
		transform: translateY(-50%);
		.wrap {
			padding: 50px 50px;
			height: 300px;
			width: 60%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-left: 50px;
			h1 {
				font: bold 40px/50px 'inter';
				width: 580px;
				margin-bottom: 20px;
				margin-top: 50px;
				color: white;
			}
			p {
				// padding: 10px;
				color: #999;
				padding-bottom: 40px;
				line-height: 30px;
				opacity: 0.6;
				font-family: 'roboto';
			}
			a {
				display: block;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translate(-100%, -50%);
				width: 150px;
				height: 50px;
				font: bold 15px/50px 'inter';
				text-align: center;
				box-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
				color: white;

				@include button;
				&:hover {
					@include hobutton;
				}
			}
		}
	}
}
