#top {
	width: 100%;
	background: linear-gradient(90deg, rgb(23, 23, 23) 50%, rgb(16, 16, 16) 50%);
	height: 600px;
	display: flex;
	align-items: center;
	.inner {
		margin: 0 auto;
		width: 1180px;
		.wrap {
			width: 100%;
			&::after {
				display: block;
				content: '';
				clear: both;
			}
			article {
				padding: 50px;
				background: rgb(29, 29, 29);
				width: 380px;
				height: 390px;
				float: left;
				margin-right: 20px;
				&:hover {
					background: linear-gradient(90deg, rgb(126, 19, 26), rgb(196, 30, 40));
					transform: translateY(-5px);
					transition: 0.5s;
					.pic {
						font-size: 40px;
						.fa-couch,
						.fa-caret-right,
						.fa-face-smile,
						.fa-hand-sparkles {
							color: white;
						}
					}
					p {
						color: white;
						opacity: 0.6;
					}
					a {
						color: white;
						.fa-caret-right {
							color: white;
						}

						&:hover {
							color: rgb(16, 16, 16);
							.fa-caret-right {
								color: rgb(16, 16, 16);
							}
						}
					}
				}
				&:last-child {
					margin-right: 0px;
				}
				.pic {
					font-size: 40px;
				}
				> h1 {
					font: bold 30px/1 'inter';
					padding-top: 20px;
					color: white;
				}
				p {
					font: 17px/20px 'roboto';
					display: block;
					color: #999;
					padding-top: 40px;
					padding-bottom: 40px;
					opacity: 0.6;
				}
				a {
					font-size: 15px 'roboto';
					@include red;

					i {
						font: 15px;
						@include red;
					}
				}
			}
		}
	}
}

// import {
// 	faCaretRight,
// 	faCouch,
// 	faFaceSmile,
// 	faHandSparkles,

//icons
.fa-couch,
.fa-caret-right,
.fa-face-smile,
.fa-hand-sparkles {
	@include red;
}
@media screen and (max-width: $tablet) {
	#top {
		height: 1000px;
		.inner {
			width: 100%;
			padding-left: 40px;
			padding-right: 40px;
			.wrap {
				width: 100%;
				article {
					margin-right: 2%;
					width: 32%;
					height: 400px;
					> h1 {
						font-size: 18px;
					}
					p {
						font-size: 13px;
						padding-top: 20px;
						padding-bottom: 10px;
					}
					a {
						font-size: 13px;
					}
					&:last-child {
						margin-right: 0;
					}
					.pic {
						width: calc(100% / 3.5);
					}
				}
			}
		}
	}
}
@media screen and (max-width: $mobile) {
	#top {
		.inner {
			.wrap {
				article {
					padding: 30px 50px 0 50px;
					width: 100%;
					margin-bottom: 20px;
					height: 300px;
					&:hover {
						background: linear-gradient(90deg, rgb(126, 19, 26), rgb(196, 30, 40));

						.pic {
							width: 60px;
							height: 60px;
							font-size: 60px;
							i {
								color: white;
							}
						}
						p {
							color: white;
							opacity: 0.6;
						}
						a {
							color: white;
							i {
								color: white;
							}
							&:hover {
								color: rgb(16, 16, 16);
								i {
									color: rgb(16, 16, 16);
								}
							}
						}
					}
					.pic {
						width: 60px;
						height: 60px;
						font-size: 60px;
						margin-bottom: 30px;
						i {
							@include red;
						}
					}
					> h1 {
						font: bold 30px/1 'inter';
					}
					p {
						font: 15px/20px 'roboto';
						display: block;
						color: #999;
						padding-bottom: 30px;
						opacity: 0.6;
					}
					a {
						font-size: 15px 'roboto';
						@include red;

						i {
							font: 15px;
							@include red;
						}
					}
				}
			}
		}
	}
}
