#vids {
	width: 100%;
	height: 800px;
	background: rgb(16, 16, 16);

	.swiper {
		height: 100%;
		padding: 4vw 0px;

		.controls {
			position: absolute;
			bottom: 50px;
			left: 60px;
			display: flex;
			gap: 30px;
			color: white;
			font-size: 30px;
			z-index: 100;
			.fa-play {
				&:hover {
					color: rgb(207, 24, 41);
				}
			}
			.fa-pause {
				&:hover {
					color: rgb(207, 24, 41);
				}
			}

			svg {
				cursor: pointer;
				opacity: 0.4;
				transform: scale(0.8);
				transition: opacity 0.5s transform 0.5s;
				&.on {
					color: rgb(207, 24, 41);

					opacity: 1;
					transform: scale(1);
				}
			}
		}
		.swiper-slide {
			width: 100%;

			.inner {
				width: 100%;
				height: 90%;
				background: rgb(34, 34, 34);
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-content: flex-start;
				color: #333;
				padding: 30px;
				opacity: 0.5;
				transform: scale(0.8);
				transition: opacity 0.5s, transform 0.5s;
				&:hover {
					@include button;
					.pic {
						img {
							filter: grayscale(0);
						}
					}
				}

				.pic {
					width: 100%;
					height: 40%;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						cursor: pointer;
						filter: grayscale(100);
					}
				}
				h2 {
					font: bold 40px/1 'inter';
					margin-top: 30px;
					padding-bottom: 30px;
					color: white;
					text-align: center;
				}
				p {
					border-top: 1px solid gray;

					font: 14px/1.3 'roboto';
					padding-top: 40px;
					padding-bottom: 40px;
					color: white;
					opacity: 0.6;
					text-align: center;
				}
			}
		}
		.swiper-slide-active {
			.inner {
				opacity: 1;
				transform: scale(1);
			}
		}
		.swiper-pagination {
			bottom: 40px;
			.swiper-pagination-bullet {
				width: 10px;
				height: 10px;
				border-radius: 5px;
			}
			.swiper-pagination-bullet-active {
				width: 40px;
				background: rgb(207, 24, 41);
				transition: width 0.5s;
			}
		}
		.swiper-button-next {
			right: 60px;
			top: auto;
			bottom: 50px;
			transform: scale(0.6);
			color: white;
			z-index: 100;
			&:hover {
				color: rgb(207, 24, 41);
			}
		}
		.swiper-button-prev {
			left: auto;
			right: 100px;
			top: auto;
			bottom: 50px;
			transform: scale(0.6);
			color: white;
			z-index: 100;
			&:hover {
				color: rgb(207, 24, 41);
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	#vids {
		.swiper {
			padding: 12vw 10vw;
		}
	}
}
