.About {
	width: 100%;

	background: rgb(23, 23, 23);
	> figure {
		background: url(../../../public/img/layout/about.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position-y: bottom;
		filter: grayscale(100);

		&:hover {
			filter: grayscale(0);
		}
	}
	.inner {
		width: 1180px;
		> h1 {
			margin-bottom: 0;
			&:hover {
				@include red;
			}
		}
		h2 {
			font: bold 45px/1 'inter';
			color: #fff;
			opacity: 0.2;
			text-align: center;
			letter-spacing: 2px;
		}
		> p {
			margin-top: 70px;
			text-align: right;
		}
		.swiper {
			padding-top: 40px;
			padding-bottom: 40px;

			article {
				box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

				float: left;
				width: 280px;
				height: 400px;
				background: rgb(16, 16, 16);
				margin-right: 20px;
				margin-bottom: 20px;
				z-index: 5;
				position: relative;
				&:nth-of-type(4) {
					margin-right: 0px;
				}
				&:nth-of-type(8) {
					margin-right: 0px;
				}

				.inner {
					width: 100%;
					display: flex;
					flex-direction: column;
					margin: 0 auto;

					.pic {
						margin: 0 auto;
						filter: grayscale(100);
						img {
							box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
							margin: 20px 0;
							object-fit: cover;
							width: 240px;
							height: 240px;
							background: #fff;
							border-radius: 50%;
						}
					}
					.txt {
						color: #fff;
						font-family: 'roboto';
						text-align: center;
						margin-top: 20px;
						letter-spacing: 1px;
						h3 {
							font: 24px 'roboto';
							@include red;
							margin-top: -10px;
						}
						p {
							font-size: 15px;
							margin-top: 20px;
							color: #999;
						}
					}
				}

				&:hover {
					@include button;
					transform: translateY(-5px);
					transition: 0.5s;
					.pic {
						filter: grayscale(0);
					}
					.txt {
						h3 {
							color: #fff;
						}
						p {
							color: #fff;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.About {
		.inner {
			width: 100%;
			padding: 20px 20px;
			h2 {
				font-size: 30px;
			}
			.swiper {
				article {
					width: 100%;
					margin-right: 2%;

					.inner {
						width: 100%;
						.pic {
							img {
								width: 20vw;
								height: 20vw;
							}
						}
					}
				}
			}
		}
	}
}

//swiper
.swiper-button-next {
	right: 60px;
	top: auto;
	bottom: 0px;
	transform: scale(0.6);
	color: white;
	z-index: 100;
	&:hover {
		color: rgb(207, 24, 41);
	}
}
.swiper-button-prev {
	left: auto;
	right: 100px;
	top: auto;
	bottom: 0px;
	transform: scale(0.6);
	color: white;
	z-index: 100;
	&:hover {
		color: rgb(207, 24, 41);
	}
}
@media screen and (max-width: $mobile) {
	.About {
		.inner {
			width: 100%;
			padding: 20px 20px;
			h2 {
				font-size: 30px;
			}
			.swiper {
				article {
					width: 100%;
					height: 350px;
					.inner {
						width: 100%;
						height: 100%;
						.pic {
							img {
								width: 35vw;
								height: 35vw;
							}
						}
					}
				}
			}
		}
	}
}
