.Gallery {
	background: rgb(23, 23, 23);
	> figure {
		background: url(../../../public/img/layout/facil.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position-y: center;
		filter: grayscale(100);
		&:hover {
			filter: grayscale(0);
		}
	}
	.loader {
		position: absolute;
		top: 500px;
		left: 50%;
		transform: translateX(-50%);
	}
	.controls {
		width: 100%;
		padding: 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;

		.searchBox {
			input {
				width: 200px;
				height: 28px;
				padding: 10px;
				border: 1px solid #bbb;
			}
			button {
				width: 80px;
				height: 28px;
				border: none;
				background: #333;
				font: 12px/1 'arial';
				color: #fff;
				cursor: pointer;
				margin-left: 5px;
				transform: translateY(-1px);
			}
		}

		nav {
			display: inline-flex;
			width: 100%;
			margin-top: 20px;

			button {
				width: 25%;
				height: 50px;
				border: none;
				background: #333;
				font: 15px/15px 'inter';
				color: #fff;
				cursor: pointer;
				margin-right: 5px;
				&:last-child {
					margin-right: 0px;
				}
				&.on {
					@include button;
				}
			}
		}
	}
	.frame {
		opacity: 0;
		transform: translateY(200px);
		transition: opacity 0.5s, transform 0.5s;

		&.on {
			opacity: 1;
			transform: translateY(0px);
		}

		&::after {
			content: '';
			display: block;
			clear: both;
		}
		article {
			width: calc(100% / 3);
			padding: 10px;
			float: left;
			&:hover {
				transform: translateY(-5px);
				transition: 0.5s;
				.inner {
					.pic {
						img {
							filter: grayscale(0);
						}
					}
				}
			}
			.inner {
				width: 100%;
				background: rgb(16, 16, 16);
				padding: 14px;
				box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
				&:hover {
					@include button;
				}
				.pic {
					width: 100%;
					cursor: pointer;

					img {
						width: 100%;
						filter: grayscale(100%);
						transition: 0.3s;
					}
				}

				h2 {
					font: normal 15px/1.2 'arial';
					color: white;
					text-align: center;
					margin-bottom: 30px;
					margin-top: 10px;
				}

				.profile {
					width: 100%;
					display: flex;
					gap: 10px;
					align-items: center;
					justify-content: flex-end;
					img {
						width: 25px;
					}
					span {
						cursor: pointer;
						font-size: 10px;
						color: orange;
						transition: color 0.5s;

						&:hover {
							color: black;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: $tablet) {
	.Gallery .frame article {
		width: 50%;
	}
}

@media screen and (max-width: $mobile) {
	.Gallery {
		.controls {
			.searchBox {
				width: 100%;

				input {
					width: 100%;
					margin-bottom: 5px;
				}
				button {
					width: 100%;
					margin-left: 0px;
					margin-bottom: 20px;
				}
			}

			nav {
				width: 100%;
				display: flex;
				justify-content: space-between;

				button {
					width: 48%;
					margin-left: 0px;
				}
			}
		}
		.frame article {
			width: 100%;
		}
	}
}
