:root {
	--swiper-theme-color: rgb(207, 24, 41);
}

#roomBanner {
	overflow: hidden;
	section {
		background: rgb(29, 29, 29);
		width: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 1000px;
		padding-top: 200px;
		.bottombanner {
			width: 1180px;
			height: 400px;
			background: rgb(41, 41, 41);
			display: flex;
			flex-direction: row;
			color: white;
			padding: 80px;
			transform: translateY(100px);
			opacity: 0;
			transition-duration: 1s;
			.txtbox {
				width: 70%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				h2 {
					font: 17px/1 'roboto';
					@include red;
					position: absolute;
					transform: translateY(-110px);
					opacity: 0.7;
				}
				h1 {
					color: white;
					margin-bottom: 20px;
					font: bold 45px/1 'roboto';
					letter-spacing: 2px;
				}
				p {
					display: block;
					width: 80%;
					color: white;
					opacity: 0.4;
					font: normal 15px/1.5 'inter';
				}
			}
			.btnbox {
				width: 30%;
				display: flex;
				align-items: center;
				justify-content: center;
				.gobutton {
					display: flex;
					align-items: center;
					justify-content: center;
					@include button;
					height: 50px;
					width: 200px;
					color: white;
					&:hover {
						@include hobutton;
					}
				}
			}
		}
	}
}

#roomBanner.on {
	section {
		.bottombanner {
			opacity: 1;
			transform: translateY(0px);
		}
	}
}

@media screen and (max-width: $tablet) {
	#roomBanner {
		section {
			width: 100%;
			.bottombanner {
				width: 90%;
				padding: 0 40px;
				padding-top: 0;
				.txtbox {
					h2 {
						font-size: 13px;
						position: relative;
						transform: translateY(-40px);
					}
					h1 {
						font-size: 30px;
					}
					p {
						font-size: 13px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: $mobile) {
	#roomBanner {
		section {
			.bottombanner {
				height: 200px;
				.txtbox {
					p {
						display: none;
					}
				}
			}
		}
	}
}
